<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Antonio_Luis.Properties.Settings.AdministracionAntonioConnectionString"
            connectionString="Data Source=MARTIN-PC\SQLEXPRESS;Initial Catalog=AdministracionAntonio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>